<%= form_for(@link) do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <% if f.object.url.blank? %>
    <%= f.label :url %>:<br />
    <%= f.text_field :url, :size => 60, :maxlength => 100 %>
  <% else %>
    <%= f.label :url %>: <%= f.object.url %>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :title %>:<br />
    <%= f.text_field :title, :size => 60, :maxlength => 100 %>
  </div>
  <div class="field">
    <%= f.label :description %>:<br />
    <%= f.text_area :description, :rows => 10, :cols => 45 %>
  </div>
  <% if !f.object.url.blank? %>
    <div class="field">
      <%= f.object.updated_at.strftime("Last Updated on %e-%b-%Y at %I:%M%P %Z") %><br />
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Save Link" %>
  </div>
<% end %>
