
<% if @links.count == 0 %>
<p>No links have been submitted.  Click the link below to add one.</p>
<% else %>
<h2>Submitted Links</h2>
<table class="linktable">
<% @links.each do |link| %>
  <tr valign="top">
    <td><div id="votecount"><%= votecount(link) %></div></td>
    <td>
      <div id="thumbsup">
        <% if votecast(link) <= 0 %>
          <%= link_to image_tag(getthumbimage("up",link), :border =>"0", :alt => getthumbtext("up",link), :title => getthumbtext("up",link)), upvote_link_path(link), :method => :put %>
        <% else %>
          <%= image_tag(getthumbimage("up",link), :border =>"0", :alt => getthumbtext("up",link), :title => getthumbtext("up",link)) %>
        <% end %>
      </div>
      <div id="thumbsdown">
        <% if votecast(link) >= 0 %>
          <%= link_to image_tag(getthumbimage("down",link), :border =>"0", :alt => getthumbtext("down",link), :title => getthumbtext("down",link)), downvote_link_path(link), :method => :put %>
        <% else %>
          <%= image_tag(getthumbimage("down",link), :border =>"0", :alt => getthumbtext("down",link), :title => getthumbtext("down",link)) %>
        <% end %>
      </div>
    </td>
    <td><div id="linkto" class="dotdotdot"><%= link_to link.title, link.url, :target => "_blank" %><div id="linktohost">(<%= gethost(link.url) %>)</div></div>
    <div id="description"><%= link.description %></div>
    <div id="submittedby">Submitted <%= link.created_at.strftime("%e-%b-%Y at %I:%M%P %Z") %> by <i><%= link.email %></i>
    <% if link.created_at != link.updated_at %>
        <br/>&nbsp;&nbsp; <%= link.updated_at.strftime("Updated %e-%b-%Y at %I:%M%P %Z") %>
    <% end %>
    </div></td>
    <% if current_user.email == link.email %>
      <td><div id="imagebutton"><%= link_to image_tag("edit.gif", :border =>"0", :alt =>"Edit", :title =>"Edit"), edit_link_path(link) %></div></td>
      <td><div id="imagebutton"><%= link_to image_tag("trashcan.gif", :border =>"0", :alt =>"Delete", :title =>"Delete"), link, :confirm => "Are you sure you really want to delete this link?", :method => :delete %></div></td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>

<div id="addlink"><%= link_to 'Add a new link', new_link_path %></div>
