<!DOCTYPE html>
<html>
<head>
  <title>Ribbet! (A P2PU Introduction to Ruby and Rails App)</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="logo">
    <%= link_to image_tag("jumpingfrog.gif", :border =>"0"), root_path %>
</div>
<div id="header">
    <div id="title">Ribbit!</div>
    <div id="subtitle">Links at a Leap!</div>
    <div class="userinfo">
        <% if user_signed_in? %>
          You're signed in as <i><%= link_to current_user.email, edit_user_registration_path %></i>.  
          &nbsp;<span class="smallprint">(<%= link_to "Sign Out", destroy_user_session_path %><!-- / 
          <%= link_to "Delete Account", registration_path(current_user), :confirm => "Are you sure you really want to delete your account?", :method => :delete %>-->)</span>
        <% end %>
    </div>
</div>

<p><span class="notice"><%= notice %>&nbsp;</span><span class="alert"><%= alert %>&nbsp;</span></p>
       
<%= yield %>

</body>
</html>
